.center{text-align: center}

#adminWrapper{
    height: 100%;
}
body {
    min-height: 2000px;
    padding-top: 75px;
    background: #f7f7f7;
}

.panel-title{
    color: #fff;
}

.panel-heading{
    min-height: 35px;
}

.invisible{
    display: none;
}

.rlrow{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; }
.rlrow:before, .rlrow:after {
    content: " ";
    display: table; }
.rlrow:after {
    clear: both; }
.rlrow.collapse > .column,
.rlrow.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
.rlrow.collapse .rlrow {
    margin-left: 0;
    margin-right: 0; }
.rlrow .rlrow {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
.rlrow .rlrow:before, .rlrow .rlrow:after {
    content: " ";
    display: table; }
.rlrow .rlrow:after {
    clear: both; }
.rlrow .rlrow.collapse {
    width: auto;
    margin: 0;
    max-width: none; }
.rlrow .rlrow.collapse:before, .rlrow .rlrow.collapse:after {
    content: " ";
    display: table; }
.rlrow .rlrow.collapse:after {
    clear: both; }


.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default {
    border-color: #000;
}
a{
    color: #BB6060;
}
a:hover{
    color: #333;
}
.navbar{
    background: #fd6a6a !important;
    height: 75px;
}
.navbar-default{
    border: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #BB6060;
}

.nav-sidebar li a{
    color: #fff;
}
.panel-title{
    color: #fff;
    text-decoration: none !important;
}
.panel-body p{
    color: #333;
    text-decoration: none !important;
}
.left{float: left}
.right{float: right}

.rlcontainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.alert {
    margin-bottom: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.accept-task{
    cursor: pointer;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#taskDescription{
    height: 168px;
}


#projects p{
    color: #333;
}

#assignments, #projects{
    padding: 20px;
}
.task-title{
    margin-left: 1%;
    padding: 15px;
}

#taskCommentTextarea{
    width: 100%;
    height: 50px;
}
#toggleMenu{
    display: none;
}

/***************************************/
/* TASK PANEL */
/***************************************/
.panel-heading-0{
    background: #c6c1c6 !important;
}
.panel-heading-1{
    background: #cbfdc9 !important;
}
.panel-heading-2{
    background: #f9e5d0 !important;
}
.panel-heading-3{
    background: #faafaf !important;
}
.panel-heading h1{
    font-size: 30px;
    color: #333333;
}
.left-body-panel{
    float: left;
    width: 70%;
    overflow: hidden;
    min-height: 100px;
    max-height: 100px;
}
.right-body-panel{
    float: left;
    width: 30%;
    text-align: right;
}
.check-mark-btn{
    background: none;
    border: none;
    padding: 0;
    float: left;
    margin-right: 5%;
}
.decline-mark-btn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.task-options{
    margin-left: 85%;
}
.panel-default{
    text-decoration: none;
}
.body-panel{
    margin-bottom: 2%;
    width: 100%;
    min-height: 100px;
}
.body-panel p{
    color: #929191;
}
.body-panel strong{
    color: #333333;
}
.panel-heading{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel{
    border-radius: 5px;
    -webkit-box-shadow: -4px 4px 7px rgba(0,0,0,.08);;
    box-shadow: -4px 4px 7px rgba(0,0,0,.08);
    background: #f5f4f4;
}
.panel-default{
    border: none;
}
.panel-default>.panel-heading{
    border: none;
}
.sidebar-nav li a{
    color: #587174 !important;
}
/************************************************************/
/*SIDE MENU*/
/************************************************************/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
}
#cssmenu a {
    line-height: 1.3;
}

#cssmenu > ul > li {
    border-bottom: solid 1px #b6eef6;
}
#cssmenu > ul > li > a {
    font-size: 14px;
    display: block;
    color: #587174;
    border-top: none;=
}
#cssmenu > ul > li > a > span {
    display: block;
    padding: 12px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {
    border-bottom: none;
}
/* Sub menu */
#cssmenu ul ul {
    display: none;
    background: #fff;
}
#cssmenu ul ul li {
    padding: 0;
    border-bottom: 1px solid #587174;
    border-top: none;
    background: #e6f3f6;
}
#cssmenu ul ul li a span{
    color: #000;
}
#cssmenu ul ul li:last-child {
    border-bottom: none;
}
#cssmenu ul ul a {
    padding: 10px 10px 10px 25px;
    display: block;
    color: #676767;
    font-size: 12px;
    font-weight: normal;
}
#cssmenu ul ul a:before {
    position: absolute;
    left: 10px;
    color: #e94f31;
}
#cssmenu ul ul a:hover {
    color: #e94f31;
}
#cssmenu > ul > li.has-sub > a#taskIcon span{
    background: url("../img/task-icon.png") no-repeat;
}
#cssmenu > ul > li.has-sub > a#projectIcon span{
    background: url("../img/project-icon.png") no-repeat;
}
#cssmenu > ul > li.has-sub > a#addressBookIcon span{
    background: url("../img/address-book-icon.png") no-repeat;
}
#cssmenu > ul > li.has-sub > a#printIcon span{
    background: url("../img/print-icon.png") no-repeat;
}
#cssmenu > ul > li.has-sub > a#addIcon span{
    background: url("../img/add-icon.png") no-repeat;
}
#cssmenu > ul > li.has-sub > a span{
    padding: 0;
    margin: 10px 0;
    padding-left: 40px;
    height: 23px;
    margin-left: 5%;
    padding-top: 4px;
    font-size: 15px;
}

#sidebarBottomArrow{
    float: right;
    margin-right: 15%;
}
.navbar-right{
    padding-top:10px;
}
#headerUsername{
    font-size: 20px;
    background: url("../img/profile-pic.png") no-repeat;
    padding-left: 70px;
    height: 55px;
}
.navbar-brand{
   padding-top: 17px;
}
